/* CircularStd-Black
  CircularStd-BlackItalic
  CircularStd-Bold
  CircularStd-BoldItalic
  CircularStd-Book
  CircularStd-BookItalic
  CircularStd-Light
  CircularStd-LightItalic
  CircularStd-Medium
  CircularStd-MediumItalic */

@font-face {
  font-family: 'CircularBlack'; /*Can be any text*/
  font-weight: 900;
  src: local('CircularBlack'), url('./assets/fonts/CircularBlack.otf') format('opentype');
}

/* html {
  font-family: 'CircularBlack';
} */
